.tabContainer {
  box-sizing: border-box;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 0;
}

.tabButton {
  padding: 10px 30px;
  font-size: clamp(1em, 2vw, 1.1em);
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: #555;
  transition: background-color 0.2s, color 0.2s;
  border-radius: 0;
}

.tabButton:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.tabButton:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left-width: 0;
}

.tabButton.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.tabButton:hover:not(.active) {
  background-color: #e9e9e9;
}
